body {
    background: linear-gradient(60deg, rgb(77, 241, 143), rgb(186, 243, 106), rgb(77, 241, 143));
    font-family: Arial, sans-serif;
    height: 100svh;
    padding: 0;
    margin: 0; 
}
.container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.navbar .d-flex.flex-column {
    margin-right: auto;
}
.navbar p {
    font-style:italic;
    font-size: 25px;
}
.navbar h1 {
    font-weight: 400;
}

.navbar {
    justify-content: space-between;
    align-items: start;
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 2px;
}

.nav {
    margin-right: 30px;
}

.content-container {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 300px;
    margin-bottom: 10px;
}

.card-header {
    margin-left: 0;
    font-size: 17px;
}

.card-body {
    min-height: 150px;
    display: flex;
    flex-direction: column;
}

.progress-bar {
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 2px;
}

.progress-bar-red {
    background-color: rgb(140, 27, 27);
}

.progress-bar-blue {
    background-color: blue;
}
  
.more-link {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}
  
.more-link:hover {
    text-decoration: underline;
}