body {
    min-width: 100px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    box-sizing: content-box;
}
.container {
    padding: 0;
    border-radius: 15px;
    margin: 10px;
    margin-top: 20px;
}
table {
    flex: 1;
    margin-left: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
}
h1 {
    color: #000000;
}
p {
    font-size: 20pt;
}